@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Rebel Kids';
  src: url();
}
@media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
    }
  }
  @media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 750px;
    }
  }
  @media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 970px;
    }
  }
  @media (min-width: 1080px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1030px;
    }
  }
  @media (min-width: 1100px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1100px;
    }
  }
  @media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
  }
  @media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
  }
  @media (min-width: 1500px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1390px;
    }
  }
  @media only screen and (min-width: 1600px) and (max-width: 1920px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1440px;
    }
  }
  @media only screen and (min-width: 1921px) and (max-width: 2880px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1440px;
    } 
  }
section{
    position: relative;
    padding: 4rem 0;
}
html, body{
    overflow-x: hidden;
}
.bg-image {
  object-fit: cover;
}
.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-image:not([class*=absolute]) {
  position: absolute;
}
section {
  position: relative;
  overflow: hidden;
}
header{
    background: #1C1F26;
}
.color-header{
    border: 1px solid var(--Grey-95, #F1F1F3);
    background: var(--Grey-97, #F7F7F8);
    box-shadow: 0px 2.713px 14.9px 0px rgba(0, 0, 0, 0.08);
}
html,body{
    overflow-x: hidden;
}
.container-color-box{
    display: unset !important;
    height: 86px;
    justify-content: space-between;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 100px;
    border-width: 1px;
}
.nav-link{
    color: var(--Grey-35, #59595A);
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 25.28px */
    text-transform: capitalize;
}
.shipping-cart::after{
    display: none;
}
.d-mobile-show{
    display: none;
}

.col-left-box, .col-right-box{
    gap: 16px;
}
.btn-black{
    border-radius: 84px;
    border: 1px solid #FFF;
    background: var(--Grey-10, #1A1A1A);
    box-shadow: 0px 1px 2px 0px rgba(42, 42, 42, 0.55), 0px 0px 0px 3px rgba(42, 42, 42, 0.17);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: var(--Grey-100, #FFF);
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
    text-transform: capitalize;
}
.btn-green{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 84px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, rgba(18, 55, 40, 0.00) -175%, rgba(74, 255, 183, 0.50) 140%), linear-gradient(0deg, #00A764 0%, #00A764 100%), #FFF;
    box-shadow: 0px 1px 2px 0px rgba(29, 255, 165, 0.55), 0px 0px 0px 3px rgba(28, 255, 164, 0.17);
    color: var(--Grey-100, #FFF);
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 25.28px */
    text-transform: capitalize;
}
.dropdown-item{
    color: var(--Grey-15, #262626);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
    text-transform: capitalize;
}
.activeitem{
    background: var(--Field-BG, #F1FAF1);
    display: flex;
    padding: 8px 0px;
    gap: 10px;
    align-self: stretch;
}
.activeitem a{
    color: var(--Primary---Light, #18B979);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%; /* 25.28px */
    text-transform: capitalize;
}
.dropdown-menu.show {
    display: block;
    border: 0px;
    border-radius: 20px;
    border: 1px solid var(--Grey-90, #E4E4E7);
    background: var(--BG, url(<path-to-image>) lightgray 0% 0% / 29.269999265670776px 29.269999265670776px repeat, #F9F9F9);
    min-width: fit-content;
}
/* home */
.everypageing{
    padding: 0px 44px;
}
.every-bg-img{
    background: url(../images/erverypagebg.png) #034833 no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 75px 0px;
    border-radius: 40px;
}

.every-page-content h6{
    color: var(--Primary---Light, #18B979);
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
}
.every-page-content h6 svg{
    margin-right: 10px;
}
.everypage-right p{
    color: var(--Grey-90, #E4E4E7);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 24px;
}
.everypage-right .btn{
    width: 128px;
    max-width: 100%;
    float: right;
}
.every-page-content {
    width: 415px;
    max-width: 100%;
}
.everypage-right{
    width: 477px;
    max-width: 100%;
    float: right;
}
.every-page-content h1{
    color: var(--Grey-100, #FFF);
    font-family: "Bebas Neue";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.div-bg-home{
    background: url(../images/HomePage-line-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.home-lastc-content h2{
    color: var(--Grey-15, #262626);
    font-family: "Bebas Neue";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.home-lastc-content p{
    color: var(--Grey-40, #656567);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}
.home-lastc-content h6{
    color: var(--Primary---Light, #18B979);
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 10px;
}
.img-content h4{
    color: var(--Grey-100, #FFF);
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.divimg {
    position: relative;
    width: 410px;
    max-width: 100%;
}
.every-bg-img .owl-item{
    width: 190px !important;
    height: 420px !important;
    transition:1s;
}
.every-bg-img .owl-item:hover{
    width: 410px !important;
}
.img-content {
    background: url(../images/Txt-Content.png) no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 28px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -58px;
    height: 0px;
    overflow: hidden;
    transition: 1s;
    width: 390px;
    margin: auto;
    overflow: hidden;
}
.item:hover .img-content {
    bottom: 10px;
    height: 157px;
}

.home-lastc-content h6 svg{
    margin-right: 10px;
}
.home-lastc-content{
    width: 645px;
    max-width: 100%;
}
.owl-carousel  img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
}
.item:hover .divimg img {
        width: 410px !important;
}
.col-border-ervey{
    border-bottom: 1px solid rgba(179, 179, 179, 0.30);
    margin-bottom: 60px;
    padding-bottom: 24px;
}
.divimg:hover::after{
    content: "";
    background: url(../images/activeslide-img.svg) no-repeat;
    background-size: cover;
    background-position:  center center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;

}
.divimg1::after{
    content: "";
    background: url(../images/slider-icon1.svg) no-repeat;
    background-size: cover;
    background-position:  center center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
}
.divimg2::after{
    content: "";
    background: url(../images/slider-icon2.svg) no-repeat;
    background-size: cover;
    background-position:  center center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
}
.divimg3::after{
    content: "";
    background: url(../images/slider-icon3.svg) no-repeat;
    background-size: cover;
    background-position:  center center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
}
.divimg4::after{
    content: "";
    background: url(../images/slider-icon4.png) no-repeat;
    background-size: cover;
    background-position:  center center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
}
.divimg5::after{
    content: "";
    background: url(../images/slider-icon5.svg) no-repeat;
    background-size: cover;
    background-position:  center center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
}
.home-lastc-content .btn{
    width: 244px;
    max-width: 100%;
}
.contactus-hero-content h1{
    color: var(--Grey-100, #FFF);
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.contactus-hero-content p{
    color: var(--Grey-90, #E4E4E7);
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 0px;
}
.col-box-three{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 30px;

}
.accordion-item h2{
    color: var(--Grey-15, #262626);
    font-family: Lexend;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    text-transform: capitalize;
}
.accordion-item p{
    color: var(--Grey-40, #656567);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}
.accordion-item {
    border: 0px;
    border-bottom: 0px solid #C7C7C7;
    background: transparent;
}
.accordion-body{
    padding-top: 0px;
    margin-top: 16px;
}
.accordion-button {
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: transparent;
    padding-top: 0px;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/accordian-icon.svg);
    background-position: center center;
    background-repeat: no-repeat; 
}
.accordion-button::after {
    content: "";
    background-image: url(../images/accordian-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.dropdown-divider {
    height: 0;
    overflow: hidden;
    border-bottom: 1px solid #C7C7C7;
    opacity: 1;
    margin: 32px 0px;
}
.contactusmain{
    background: url(../images/Contact-main-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.contactus-faqs {
    padding-top: 0px;
    margin-bottom: -8px;
}

.contact-right{
    background: url(../images/contact-info.png) no-repeat;
    background-size: 100%;
    background-position: center center;
    text-align: center;
    padding: 50px 55px;
    border-radius: 20px;
    border: 1px solid var(--Grey-97, #F7F7F8);
    background-color: var(--Primary---Dark, #034833);
}
.accordion-body {
    color: var(--Grey-40, #656567);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.accordion-body p{
    color: var(--Grey-40, #656567);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 0px;
}
.contactusfgqs-title{
    padding: 72px 0px 60px;
    text-align: center;
}
.contactusfgqs-title h1{
    color: var(--Grey-15, #262626);
    font-family: "Bebas Neue";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.contactusfgqs-title p{
    color: var(--Primary---Light, #18B979);
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.contact-right-img{
    padding: 31px 0px;
}
.contactus-left{
    border-radius: 10px;
    border: 1px solid var(--Grey-90, #E4E4E7);
    background: var(--Grey-100, #FFF);
    padding: 50px 50px;
    width: 680px;
    max-width: 100%;
    margin:auto;
}
.contact-right-content h1{
    color: #FFF;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 60px */
    text-transform: uppercase;
}
.contact-right-content p{
    color: #FFF;
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 0px;
}


.contactusfgqs-title p svg{
    margin-right: 10px;
}
.contactus-hero{
    height: 604px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-box-three .quick{
    border-radius: 64px;
    border: 1px solid var(--Peach-90, #EBE7E0);
    background: #FFF;
    padding: 12px 16px;
}
.col-box-three p{
    color: var(--Grey-20, #333);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.col-box-three .quick svg{
    margin-right: 10px;
}

.contact-right-add p, .contact-right-add h6{   
    color: #FFF;
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 8px;
}
.contact-right-add strong{
    color: #FFF;
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
}
.contactus-left .form-control{
    border-radius: 8px;
    border: 1px solid var(--Grey-95, #F1F1F3);
    background: var(--Grey-97, #F7F7F8);
    color: var(--Grey-40, #656567);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    padding: 16px;
    margin-bottom: 24px;
}
.contactus-left textarea{
    border-radius: 8px;
    border: 1px solid var(--Grey-95, #F1F1F3);
    background: var(--Grey-97, #F7F7F8);
    padding: 16px;
    width: 100%;
    height: 140px;
    color: var(--Grey-40, #656567);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 16px;
}
.form-check label{
    color: var(--Grey-40, #656567);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    padding-left: 16px;
}
.form-check label a{
    color: var(--Primary---Light, #18B979);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-decoration: none;
}
.contactus-left .form-check-input{
    width: 24px;
    height: 24px;
}
.form-check-input:checked{
    background-color: #18B979;
    border: 0px;
}
.contactus-left .btn{
    margin-top: 16px;
}

/* footer */
.row-img{
    width: 1130px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.row-img h3{
    color: var(--Primary---Light, #18B979);
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    padding: 50px 0px;
    margin-bottom: 0px;
}
.row-img p{
    color: var(--Grey-40, #656567);
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
}
.row-img .btn{
    width: 142px;
    margin: auto;
}
.error-main{
    padding-bottom: 79px;
}
.error-main{
    background: url(../images/Contact-main-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.legalmain{
    background: url(../images/Contact-main-bg.png) lightgray no-repeat !important;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.footertop-title h3{
    color: var(--Grey-100, #FFF); 
    font-family: "Bebas Neue";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.btn-green-img{
    display: flex;
    padding: 8px 8px 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 84px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, rgba(18, 55, 40, 0.00) -175%, rgba(74, 255, 183, 0.50) 140%), linear-gradient(0deg, #00A764 0%, #00A764 100%), #FFF;
    box-shadow: 0px 1px 2px 0px rgba(29, 255, 165, 0.55), 0px 0px 0px 3px rgba(28, 255, 164, 0.17);
    width: 286px;
    max-width: 100%;

}
.legalmain{
    background: var(--BG,lightgray 0% 0% / 29.269999265670776px 29.269999265670776px repeat, #F9F9F9);
}
.leagalcontentsec{
    padding: 72px 0px;
}
.legalscontentbg{
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leagalcontentsec p{
    color: var(--Grey-40, #656567);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
}
.leagalcontentsec h4{
    color: var(--Grey-15, #262626);
    font-family: Lexend;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; /* 24.57px */
    text-transform: capitalize;
    margin-bottom: 16px;
}
.legaltop-content h2{
    color: var(--Grey-100, #FFF);
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
/* ------------------footer-------------------------- */
.footertop-title .btn-green-img{
    display: flex;
    padding: 8px 8px 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 84px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, rgba(18, 55, 40, 0.00) -175%, rgba(74, 255, 183, 0.50) 140%), linear-gradient(0deg, #00A764 0%, #00A764 100%), #FFF;
    box-shadow: 0px 1px 2px 0px rgba(29, 255, 165, 0.55), 0px 0px 0px 3px rgba(28, 255, 164, 0.17);
    width: 286px;
    max-width: 100%;
    float:right;
}

.imgsapn{
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 61px;
    background: var(--Grey-100, #FFF);
    margin-left: 22px;
}
footer{
    position: relative;
}
.footertop-title .row{
    display: flex;
    height: 177px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.col-border{
    border-bottom: 1px solid rgba(179, 179, 179, 0.30);
}
.footer-title h5, .footer-address h5{
    color: var(--Grey-100, #FFF);
    font-family: "Bebas Neue";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.footer-title a{
    color: var(--Grey-90, #E4E4E7);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
    text-transform: capitalize;
    text-decoration: none;
}
.footer-address p{
    color: var(--Grey-90, #E4E4E7);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 8px;
}
.footer-title ul, .footer-address ul{
    list-style: none;
    padding: 0px;
}
.footer-title ul li{
    margin-bottom: 16px;
    position: relative;
}
.seconlist{
    margin-bottom: 40px !important;
}
.footer-logo img{
    margin-bottom: 25px;
}
.list-unstyled{
    display: flex;
    gap: 25px;
}
.footer-middle{
    padding: 90px 0px;
}
.footerullid ul a{
    color: var(--Grey-100, #FFF);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158%;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 0px;
    opacity: 0.8;
}
.footerullid ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    gap: 24px;
    list-style: none;
}
.col-red-div p{
    color: var(--Grey-100, #FFF);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 0px;
}
.footerbtm-title{
    height: 90px;
    padding: 34px 0px;
}

.list-unstyled-main li::after {
    content: " ";
    background: url(../images/green-icon.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 8px;
    height: 12px;
    left: -19px;
    top: 6px;
}
.seconlist::before{
    content: " ";
    background: url(../images/split.png) no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 197px;
    height: 1px;
    top: 45px;
    left: -20px;
}