/* Global Css */
.desktop_none {
    display: none;
}

.mobile_none {
    display: block;
}

@media only screen and (max-width: 600px) {
    /* Global Css */
    .desktop_none {
        display: block;
    }

    .mobile_none {
        display: none;
    }
}

@media only screen and (min-width: 400px) and (max-width:700px) {}

@media only screen and (min-width: 1200px) and (max-width:1348px) {}

@media only screen and (min-width: 1349px) and (max-width:1439px) {}

@media only screen and (min-width: 1440px) and (max-width:1499px) {}

@media only screen and (min-width: 1500px) and (max-width:1599px) {}

@media only screen and (min-width: 1600px) and (max-width:1699px) {}

@media only screen and (min-width: 1700px) and (max-width:1799px) {}

@media only screen and (min-width: 1800px) and (max-width:1919px) {}